/*Blog Cards Layout*/
.project-image-container {
  overflow: hidden;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.project-image {
   width: 100%;
   object-fit: cover;
  object-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}

.project-content {
  background: #0d0d0d;
  padding: 22px;
  border-radius: 0px 0px 10px 10px;
}

.project-content > p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  width: 80%;
  height: 100%;
  margin: 30px auto 0 auto;
}

.projects-section > p {
  color: rgb(212, 212, 212);
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
}


.about-project {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  height: 80px;
  display: flex;
  align-items: center;
}

.check-project {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.check-project > a {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
}

.check-project > a:hover {
  transition: all 0.2s ease-in;
  color: #fdde6d;
}

div.a-project-card {
  position: relative;
  transition-property: margin-top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

div.a-project-card:hover {
  margin-top: -10px;
}

.my-mobile-image-container {
  position: relative;
  transition-property: margin-top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

  
  /* Media Query */
  @media (max-width: 1380px) {
    .blog-header-text {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .blog-header-text {
      font-size: 30px;
      text-align: center;
    }
    .blog-subtitle {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }
    .project-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      width: 80%;
      height: 100%;
      margin: 30px auto 0 auto;
    }
  }
  
  @media screen and (max-width: 480px) and (min-width: 300px) {
   
    .project-grid {
      display: grid;
      grid-template-columns: 1fr;
      margin: 20px 13%;
      grid-gap: 30px;
    }
  
    .projects-section > p {
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 30px;
    }
  
    .a-project-card {
      width: 100%;
      border-radius: 10px;
    }
  
    .projects-section > p {
      font-size: 30px;
      font-weight: 500;
    }
  }
  